%h2
  = @file.name
  by
  != entity_link(@file.user)

%ul.menu
  - if @file.user == current_user
    %li
      %form{ :method => "get", :action => "/file/#{ @file.id }.edit" }
        %input{ :type => "submit", :value => "edit" }
    %li
      %form{ :method => "get", :action => "/file/#{ @file.id }.download" }
        %input{ :type => "submit", :value => "download to eclipse" }
    %li
      %form{ :method => "get", :action => "/file/#{ @file.id }.upload" }
        %input{ :type => "submit", :value => "upload from eclipse" }
  - else
    %li
      %form{ :method => "post", :action => "/file/#{ @file.id }.copy" }
        %input{ :type => "submit", :value => "copy for you" }


%h3 preview
%pre.preview= @file.body

        
%h3 notes
%ul.notes
  != list_of @file.notes do |note|
    %pre.note-body= note.body
    .info
      by
      != entity_link note.user

%form{ :method => "post", :action => "/file/#{ @file.id }.note" }
  %textarea{ :name => "body" }
  %input{ :type => "submit", :value => "note" }
