<h2><%= h @file.name %></h2>
<p>name: <%= h @file.name %></p>
<p>body: <pre><%= h(@file.body).gsub("\n", "<br>") %></pre></p>
<p>author: <%= h @file.user.name %></p>
<% if @file.parent %>
<p>parent: <a href="<%= h @file.parent.path %>"><%= h @file.parent.name %></a></p>
<% end %>
<h3>children</h3>
<ul>
  <% @file.children.each { |file| %>
    <p><a href="<%= h file.path %>"><%= h file.name %></a>: <%= h file.body %></p>
  <% } %>
</ul>

<h2>fork</h2>
<form class="login-form" method="post" action="/file/<%= h @file.id %>.fork">
    <input type="hidden" name="token" value="xxxxx" />
    <input type="submit" value="Create"></input>
</form>

<h2>notes</h2>
<ul>
  <% @file.notes.each { |note| %>
    <p><%= h note.user.name %>, <%= h note.body %></p>
  <% } %>
</ul>
<form method="post" action="/file/<%= h @file.id %>.note">
  <textarea name="body"></textarea>
  <input type="submit" value="Post"></input>
</form>
