!!!XML
!!!

%html
  %head
    %link{ :rel => "stylesheet", :href => "/css/common.css", :type => "text/css" }
    %script{ :type => "text/javascript", :src => "/js/jquery-1.4.1.min.js" }
  %body
  .header-navigation
    - if current_user
      Hi,
      != entity_link(current_user)
      %a{ :href => '/help' } help
      %a{ :href => '/logout' } logout
    - else
      %a{ :href => '/help' } help
      %a{ :href => '/register' } register
      %a{ :href => '/login'    } login
  %h1.header
    %a{ :href => '/' } CodePaste
  - if @errors.length > 0 || @messages.length > 0
    %hr
      - @errors.each do |e|
        %p= e
      - @messages.each do |m|
        %p= m
  %hr
  %h1= @title
  .content
    !=  yield
  %hr
  .footer
